<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ATSApplicationFontsPath</key>
	<string>Fonts</string>
	<key>BuildMachineOSBuild</key>
	<string>16E195</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en_GB</string>
	<key>CFBundleExecutable</key>
	<string>Skype</string>
	<key>CFBundleIconFile</key>
	<string>SkypeBlue</string>
	<key>CFBundleIdentifier</key>
	<string>com.skype.skype</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Skype</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>7.59</string>
	<key>CFBundleSignature</key>
	<string>SKYP</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLIconFile</key>
			<string>SkypeBlue</string>
			<key>CFBundleURLName</key>
			<string>SKCalltoURL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>callto</string>
				<string>skype</string>
				<string>tel</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>7.59.0.37</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>8E1000a</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>16E185</string>
	<key>DTSDKName</key>
	<string>macosx10.12</string>
	<key>DTXcode</key>
	<string>0831</string>
	<key>DTXcodeBuild</key>
	<string>8E1000a</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.10</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSAppleScriptEnabled</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>© 2017 Skype and/or Microsoft</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Skype/Call</string>
			</dict>
			<key>NSMessage</key>
			<string>callService</string>
			<key>NSPortName</key>
			<string>Skype</string>
			<key>NSSendTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
		</dict>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Skype/Send Message</string>
			</dict>
			<key>NSMessage</key>
			<string>chatService</string>
			<key>NSPortName</key>
			<string>Skype</string>
			<key>NSSendTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
		</dict>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Skype/Send SMS</string>
			</dict>
			<key>NSMessage</key>
			<string>smsService</string>
			<key>NSPortName</key>
			<string>Skype</string>
			<key>NSSendTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
		</dict>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Skype/Add Contact</string>
			</dict>
			<key>NSMessage</key>
			<string>addContactService</string>
			<key>NSPortName</key>
			<string>Skype</string>
			<key>NSSendTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
		</dict>
	</array>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
	<key>OSAScriptingDefinition</key>
	<string>dynamic</string>
	<key>SMPrivilegedExecutables</key>
	<dict>
		<key>com.skype.skypeinstaller</key>
		<string>anchor apple generic and identifier "com.skype.skypeinstaller" and (certificate leaf[field.1.2.840.113635.100.6.1.9] or certificate 1[field.1.2.840.113635.100.6.2.6]) and certificate leaf[field.1.2.840.113635.100.6.1.13] and certificate leaf[subject.OU] = AL798K98FX</string>
	</dict>
	<key>SecTaskAccess</key>
	<string>allowed</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Skype Chat Style</string>
			<key>UTTypeIconFile</key>
			<string>skypestyle</string>
			<key>UTTypeIdentifier</key>
			<string>com.skype.skype.chatstyle</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>SkypeChatStyle</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
