<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ATSApplicationFontsPath</key>
	<string>Fonts</string>
	<key>BuildMachineOSBuild</key>
	<string>12C3103</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en_GB</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>SkypeChatStyle</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>skypestyle</string>
			<key>CFBundleTypeName</key>
			<string>Skype Chat Style</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>SKP1</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.skype.skype.chatstyle</string>
			</array>
			<key>LSTypeIsPackage</key>
			<true/>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Skype</string>
	<key>CFBundleIconFile</key>
	<string>SkypeBlue</string>
	<key>CFBundleIdentifier</key>
	<string>com.skype.skype</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>6.4.0.833</string>
	<key>CFBundleSignature</key>
	<string>SKYP</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLIconFile</key>
			<string>SkypeBlue</string>
			<key>CFBundleURLName</key>
			<string>SKCalltoURL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>callto</string>
				<string>skype</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>6.4.0.833</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>4G1004</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>12C37</string>
	<key>DTSDKName</key>
	<string>macosx10.8</string>
	<key>DTXcode</key>
	<string>0451</string>
	<key>DTXcodeBuild</key>
	<string>4G1004</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.6.0</string>
	<key>NSAppleScriptEnabled</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>© 2013 Skype and/or Microsoft</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Skype/Call</string>
			</dict>
			<key>NSMessage</key>
			<string>callService</string>
			<key>NSPortName</key>
			<string>Skype</string>
			<key>NSSendTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
		</dict>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Skype/Send Message</string>
			</dict>
			<key>NSMessage</key>
			<string>chatService</string>
			<key>NSPortName</key>
			<string>Skype</string>
			<key>NSSendTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
		</dict>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Skype/Send SMS</string>
			</dict>
			<key>NSMessage</key>
			<string>smsService</string>
			<key>NSPortName</key>
			<string>Skype</string>
			<key>NSSendTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
		</dict>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Skype/Add Contact</string>
			</dict>
			<key>NSMessage</key>
			<string>addContactService</string>
			<key>NSPortName</key>
			<string>Skype</string>
			<key>NSSendTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
		</dict>
	</array>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
	<key>SKAppName</key>
	<string>Skype</string>
	<key>SecTaskAccess</key>
	<string>allowed</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Skype Chat Style</string>
			<key>UTTypeIconFile</key>
			<string>skypestyle</string>
			<key>UTTypeIdentifier</key>
			<string>com.skype.skype.chatstyle</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>SkypeChatStyle</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
