#capsLock{display:none;position:absolute;left:320px;top:78px;width:320px}
#capsLockSkype{display:none;position:absolute;left:320px;top:81px;width:188px}
.capsLockBody{padding:7px 8px 3px 39px;background:url(../images/capsLock.png) 0 -15px no-repeat;font-size:13px;line-height:16px;color:#636363}
.capsLockBodyShort{background:url(../images/capsLockShort.png) 0 -15px no-repeat}
body.rtl .capsLockBody{padding:8px 39px 3px 8px;background-position:-320px -15px}
body.rtl .capsLockBodyShort{background-position:-188px -15px}
.capsLockBottom{width:320px;height:5px;background:url(../images/capsLock.png) 0 0 no-repeat;font-size:1px}
.capsLockBottomShort{background:url(../images/capsLockShort.png) 0 0 no-repeat;width:188px}
body.rtl .capsLockBottom{background-position:-320px 0}
body.rtl .capsLockBottomShort{background-position:-188px 0}